 <div class="user-details">
  <h1> Awards </h1>
</div>
<div class="user auxiliar">
    <div class="tech">
     <img src="/assets/img/insignia.png" alt="Logo" class="logo">
      <h2>Best speaker IAAC-CON 1º Edición</h2>
      <i class="devicon-apachespark-original colored"></i>
      <p>Best IAAC-CON 1st Edition speaker with: Nuclei - Fast and Customizable Vulnerability Scanner</p>
    </div>
    <div class="tech">
     <img src="/assets/img/insignia.png" alt="Logo" class="logo">
      <h2>Best speaker IAAC-CON 2º Edición</h2>
      <i class="devicon-apachespark-original colored"></i>
      <p>Best IAAC-CON 2st Edition speaker with: Flipper Zero: Unleashing its power</p>
    </div>
</div>
