<h1 class="h2 mb-4">Certifications</h1>

<div class="Box">
  
  <a href="https://www.credential.net/9de3e507-1564-4f15-9996-f198ddeec6d0" target="https://www.credential.net/9de3e507-1564-4f15-9996-f198ddeec6d0" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🏆</span>
    <span class="text-bold">OffSec Web Expert (OSWE)</span>
  </a>

  <a href="https://verified.elearnsecurity.com/certificates/98b3f0fa-14c0-4337-9ce1-8dde8589096f" target="https://verified.elearnsecurity.com/certificates/98b3f0fa-14c0-4337-9ce1-8dde8589096f" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🛡️</span>
    <span class="text-bold">Web Application Penetration Tester eXtreme (eWPTXv2)</span>
  </a>

  <a href="URL_SOPHOS_ARCH" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🔐</span>
    <span class="text-bold">Sophos Certified Architect</span>
  </a>

  <a href="URL_SOPHOS_ENG" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🔧</span>
    <span class="text-bold">Sophos Certified Engineer</span>
  </a>

  <a href="URL_BITDEF" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🧬</span>
    <span class="text-bold">Bitdefender Certified Technical Specialist</span>
  </a>

  <a href="URL_XDR" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">⚙️</span>
    <span class="text-bold">Worry-Free Detection and Response (XDR) Technical Certificate</span>
  </a>

  <a href="URL_SEALPATH_TECH" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">📄</span>
    <span class="text-bold">Certificado SealPath - Certificación Técnica Avanzada</span>
  </a>

  <a href="URL_SEALPATH_PRE" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">📘</span>
    <span class="text-bold">Certificado SealPath - Pre-venta</span>
  </a>

  <a href="URL_CSFPC" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🛰️</span>
    <span class="text-bold">Cyber Security Foundation Professional Certificate - CSFPC</span>
  </a>

  <a href="URL_MITRE" target="_blank" class="Box-row Box-row-link d-flex flex-items-center">
    <span class="h4 mr-2">🧠</span>
    <span class="text-bold">Foundations of Operationalizing MITRE ATT&CK</span>
  </a>

</div>
