<div class="user-details">
  <h1> Conferences </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="magicrecon" src="{{ "/assets/img/bitup.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Introduction to MagicRecon. <a href="https://bitupalicante.com/">Bitup Alicante 2021</a></h3>
    <p>At Bitup Alicante 2021  I introduced MagicRecon, a powerful shell script designed to maximize the reconnaissance and data collection process of a target, identifying common vulnerabilities while saving the results in an organized manner. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="robotscraper" src="{{ "/assets/img/ekoparty.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Introductin to MagicRecon. <a href="https://ekoparty.org/">Ekoparty 2021</a></h3>
    <p>At Ekoparty 2021 I presented MagicRecon, emphasizing its capabilities in maximizing the recon and data collection process for cybersecurity professionals. The talk covered the script's functionality in conducting passive and active reconnaissance, vulnerability analysis, and subdomain scanning.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dorkscraper" src="{{ "/assets/img/dorksraper.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DorkScraper </h3>
    <p>DorkScraper is a simple tool written in Python to extract all the urls that appear when using a Google Dork.</p>
  </div>
</div>
