 <div class="user-details">
  <h1> Conferences </h1>
  <p> Over time, I have created and collected a series of talks that are ready to go, with adaptations targeted toward non-technical, semi-technical, and technical audiences. My presentations cover a wide range of topics within the realm of cybersecurity, ensuring that each session is both engaging and informative for all attendees </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Introduction to MagicRecon. <a href="https://bitupalicante.com/">Bitup Alicante 2021</a></h2>
      <img src="/assets/img/bitup.png" alt="bitup logo" class="logo">
    </div>
    <div class="tech">
      <h2>Introductin to MagicRecon. <a href="https://ekoparty.org/">Ekoparty 2021</a></h2>
       <img src="/assets/img/ekoparty.png" alt="ekoparty logo" class="logo">
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
