<div class="user-details">
  <h1> Conferences </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="magicrecon" src="{{ "/assets/img/bitup.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Introduction to MagicRecon. Bitup Alicante 2021</h3>
    <p>At Bitup Alicante 2021  I introduced MagicRecon, a powerful shell script designed to maximize the reconnaissance and data collection process of a target, identifying common vulnerabilities while saving the results in an organized manner. </p>
    <a class="project-link" href="https://bitupalicante.com">Bitup Alicante</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="robotscraper" src="{{ "/assets/img/ekoparty.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Introductin to MagicRecon. Ekoparty 2021</h3>
    <p>At Ekoparty 2021 I presented MagicRecon, emphasizing its capabilities in maximizing the recon and data collection process for cybersecurity professionals. The talk covered the script's functionality in conducting passive and active reconnaissance, vulnerability analysis, and subdomain scanning.</p>
    <a class="project-link" href="https://ekoparty.org">Ekoparty</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dorkscraper" src="{{ "/assets/img/cefire.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jornada cursos especialización: Ciberseguretat en entorns TIC i creació de Videojocs. CEFIRE 2021 </h3>
    <p>During my presentation, I will discuss my course "Secure Production Deployment" in the specialized cybersecurity program for IT environments. This course focuses on the processes and practices necessary to ensure that applications and IT systems are securely and efficiently deployed.</p>
    <a class="project-link" href="https://portal.edu.gva.es/cefirevalencia/es/inicio/">Cefire</a>
  </div>
  </div>
<div class="user-projects">
    <div class="images-left">
    <img alt="robotscraper" src="{{ "/assets/img/gva.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Identificación y explotación de vulnerabilidades en Android. Jornada ciberseguretat 2022 IES Jaume II el Just </h3>
    <p>The conference delved into techniques and methodologies used to uncover and exploit vulnerabilities within the Android operating system. I discussed effective strategies for identifying vulnerabilities in Android applications and the OS itself, exploring exploitation techniques that demonstrated how these vulnerabilities could be leveraged for unauthorized access or malicious activities.  </p>
    <a class="project-link" href="https://ekoparty.org">Ekoparty</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="robotscraper" src="{{ "/assets/img/batoi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Introduction to Red Team. I Jornada Ciberseguretat 2022 CIP FP BATOI</h3>
    <p> In the conference I explained what a Red Team is and provided an overview of the methodology used in Red Team exercises. The session covered the various phases of a Red Team operation, including threat actors, planning, and execution. I also introduced the MITRE ATT&CK framework, discussing how it is used to map out adversarial behaviors and techniques. </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=RBist48Mkhs&t=3160s">Ekoparty</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="dorkscraper" src="{{ "/assets/img/cefire.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Jornada cursos especialización: Ciberseguretat en entorns TIC i creació de Videojocs. CEFIRE </h3>
    <p>During my presentation, I will discuss my course "Secure Production Deployment" in the specialized cybersecurity program for IT environments. This course focuses on the processes and practices necessary to ensure that applications and IT systems are securely and efficiently deployed.</p>
    <a class="project-link" href="https://portal.edu.gva.es/cefirevalencia/es/inicio/">Cefire</a>
  </div>
</div>
