<div class="user-details">
  <h1>Contributions</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>CVE's</h2>
    <ul>
      <li>CVE-2022-45269: Directory Traversal in Linx Sphere LINX 7.35.ST15</li>
      <!-- Añade más elementos de CVE si es necesario -->
    </ul>
  </div>
  <div class="tech">
    <h2>Exploits</h2>
    <ul>
      <li>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</li>
      <li>Vinyl XOXO lumbersexual</li>
      <!-- Añade más elementos de Exploits si es necesario -->
    </ul>
  </div>
  <div class="tech">
    <h2>Other stuff</h2>
    <ul>
      <li>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</li>
      <li>Vinyl XOXO lumbersexual</li>
      <!-- Añade más elementos de Other stuff si es necesario -->
    </ul>
  </div>
</div>
