<div class="user-details">
  <h1>Contributions</h1>
</div>
<div class="user auxiliar">
  <div class="tech">
    <h2>CVE's</h2>
    <ul>
      <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-45269">CVE-2022-45269: Directory Traversal in Linx Sphere LINX 7.35.ST15</a></li>
    </ul>
  </div>
  <div class="tech">
    <h2>Exploits</h2>
    <ul>
      <li><a href="https://github.com/robotshell/CVE-Reference/blob/main/CVE-2022-45269.md">CVE-2022-45269: Directory Traversal in Linx Sphere LINX 7.35.ST15</a></li>
      <li><a href="https://www.exploit-db.com/ghdb/7003">GHDB-ID 7003</a></li>
    </ul>
  </div>
  <div class="tech">
    <h2>Other stuff</h2>
    <ul>
      <li><a href="https://www.elladodelmal.com/2021/06/magicrecon-herramienta-para-la.html">MagicRecon: herramienta para la recolección de datos y la búsqueda de vulnerabilidades en un objetivo</a></li>
      <li><a href="https://github.com/projectdiscovery/nuclei-templates/blob/e11528b54233b553896ea10df360b89b7423778f/http/exposed-panels/nozomi-panel.yaml#L5">[Nuclei template] Nozomi Guardian Login Panel</a></li>
      <li><a href="https://github.com/projectdiscovery/nuclei-templates/blob/e11528b54233b553896ea10df360b89b7423778f/http/exposed-panels/biotime-panel.yaml#L5">[Nuclei template] BioTime Web Login Panel</a></li>
      <li><a href="https://github.com/projectdiscovery/nuclei-templates/blob/e11528b54233b553896ea10df360b89b7423778f/http/exposed-panels/avigilon-panel.yaml#L5">[Nuclei template] Avigilon Login Panel</a></li>
      <li><a href="https://github.com/projectdiscovery/nuclei-templates/blob/e11528b54233b553896ea10df360b89b7423778f/http/exposed-panels/davantis-panel.yaml#L5">[Nuclei template] Davantis Video Analytics Panel</a></li>
      <li><a href="https://github.com/projectdiscovery/nuclei-templates/blob/e11528b54233b553896ea10df360b89b7423778f/http/default-logins/mobotix/mobotix-default-login.yaml#L5">[Nuclei template] Mobotix - Default Login</a></li>
    </ul>
  </div>
</div>
