<div class="user-details">
  <h1> Tools </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MagicRecon [DEPRECATED] </h3>
    <p>MagicRecon is a powerful shell script to maximize the recon and data collection process of an objective and finding common vulnerabilities, all this saving the results obtained in an organized way in directories and with various formats.</p>
    <a class="project-link" href="https://github.com/robotshell/magicRecon">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> RobotScraper </h3>
    <p>RobotScraper is a simple tool written in Python to check each of the paths found in the robots.txt file and what HTTP response code they return.</p>
    <a class="project-link" href="https://github.com/robotshell/robotScraper">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DorkScraper </h3>
    <p>DorkScraper is a simple tool written in Python to extract all the urls that appear when using a Google Dork.</p>
    <a class="project-link" href="https://github.com/robotshell/dorkSraper">Check it out</a>
  </div>
</div>
